# maven #
target

# logs #
logs

# Log file #
*.log

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear
/target

# Rebel #
rebel.xml

# Runtime data #
*.pid

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*
replay_pid*
